<div class="modal" id="Add2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">알고리즘</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <table class="table-list">
                        <thead>
                        <tr>
                            <th class="tb-no"></th>
                            <th>번호</th>
                            <th>알고리즘 이름</th>

                        </tr>
                        </thead>
                        <tbody class="text-center" id="algoTable">
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="AlgorithmSave">적용</button>
                <button type="button" class="btn btn-danger">닫기</button>

            </div>
        </div>
    </div>
</div>
