<div class="container">
    <table class="table" id="legendOneDiagram">
        <thead>
        <tr>
            <th  style="width: 40px; height: 25px; font-size: 10px">심볼</th>
            <th style="height: 25px; font-size: 10px">이름</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: center;" ><img src="library/mxgraph/javascript/src/symbol/ca.svg" style="width: 15px; height: 15px"/></td>
            <td>차단기</td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/pa.svg" style="width: 15px; height: 15px"/></td>
            <td>다회로개폐기</td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/ga.svg" style="width: 15px; height: 15px"/></td>
            <td>자동개폐기</td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/gs.svg" style="width: 15px; height: 15px"/></td>
            <td>수동개폐기</td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/ra_gas_ins.svg" style="width: 15px; height: 15px"/></td>
            <td>자동리클로저</td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/tr.svg" style="width: 25px; height: 15px"/></td>
            <td>변압기</td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/alts.svg" style="width: 15px; height: 15px"/></td>
            <td>ALTS</td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/oh2.svg" style="width: 15px; height: 15px"/></td>
            <td>입상주</td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/dg.svg" style="width: 15px; height: 15px"/></td>
            <td>DG</td>
        </tr>
        <!--<tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/pole.svg" style="width: 15px; height: 15px"/></td>
            <td>전주</td>
        </tr>-->        <!--단선도 DB data 중 전주가 없음-->
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/dm.svg" style="width: 15px; height: 15px"/></td>
            <td>더미</td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/ass.svg" style="width: 15px; height: 15px"/></td>
            <td>ASS </td>
        </tr>
        </tbody>
    </table>

    <table class="table" id="legendSimulation">
        <thead>
        <tr>
            <th  style="width: 40px; height: 25px; font-size: 10px">범주</th>
            <th style="height: 25px; font-size: 10px">부하</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/overload.svg" style="width: 15px; height: 15px"/></td>
            <td>과부하 </td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/heavyload.svg" style="width: 15px; height: 15px"/></td>
            <td>중부하 </td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/lightload.svg" style="width: 15px; height: 15px"/></td>
            <td>경부하 </td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/stability.svg" style="width: 15px; height: 15px"/></td>
            <td>안정 </td>
        </tr>
        </tbody>
    </table>

    <table class="table" id="legendSimulationLoad">
        <thead>
        <tr>
            <th  style="width: 40px; height: 25px; font-size: 10px">범주</th>
            <th style="height: 25px; font-size: 10px">상태</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/overload.svg" style="width: 15px; height: 15px"/></td>
            <td>절체 경고 </td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/heavyload.svg" style="width: 15px; height: 15px"/></td>
            <td>절체 주의 </td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/mxgraph/javascript/src/symbol/stability.svg" style="width: 15px; height: 15px"/></td>
            <td>절체 안정 </td>
        </tr>
        </tbody>
    </table>



    <table class="table" id="legendGIS">
        <thead>
        <tr>
            <th  style="width: 40px; height: 25px; font-size: 10px">심볼</th>
            <th style="height: 25px; font-size: 10px">이름</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: center;"><img src="library/openlayers/symbol/Substation.png" style="width: 15px; height: 15px"/></td>
            <td>변전소 </td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/openlayers/symbol/custline.png" style="width: 15px; height: 15px"/></td>
            <td>수용가 </td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/openlayers/symbol/LVline.png" style="width: 15px; height: 15px"/></td>
            <td>고압 </td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="library/openlayers/symbol/HVline.png" style="width: 15px; height: 15px"/></td>
            <td>저압 </td>
        </tr>
        </tbody>
    </table>






</div>