<div class="modal bd-example-modal-lg" id="loading_modal" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content" align="center" style="vertical-align: middle;width: 100%; height: 100%">
            <span class="fa fa-spinner fa-spin fa-5x" style="color:cornsilk"></span>
        </div>
    </div>
</div>