
<div class="modal" id="userProfile">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height: 30px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 13px; color: black; padding: 0px; font-weight: bold;">사용자 정보</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                <div id="info">

                </div>
                <div class="pull-right" style="padding-top: 20px;">
                    <button type="button" class="btn btn-primary" id="ValueMenu" >저장 </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" >닫기 </button>
                </div>
                </div>
            </div>

            <!--<div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="ValueMenu">저장 </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">닫기 </button>
                </div>


            </div>-->
        </div>
    </div>
</div>
