<div class="modal" role="dialog" id="valueOptionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height: 30px; padding: 5px 15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 13px; color: black; padding: 0px; font-weight: bold;">단선도 표현 데이터 선택</h4>
            </div>
            <div class="modal-body" >
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="value_menu_th_number">#</th>
                                <th >표시 데이터</th>
                                <th class="value_menu_th_activation">활성 여부</th>
                            </tr>
                        </thead>
                        <tbody id="valueTable">

                        </tbody>
                    </table>
                    <div class="pull-right">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="ValueMenu" >저장 </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" >닫기 </button>
                    </div>
                </div>
              <!--  <div class="pull-right">
                <button type="button" class="btn btn-primary" id="ValueMenu" >저장 </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" >닫기 </button>
                </div>-->
            </div>
          <!--  <div class="modal-footer" style="height: 30px; padding-right: 15px; padding-top: 3px;">
                    <button type="button" class="btn btn-primary" id="ValueMenu"  style="padding: 2px 6px;">저장 </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"  style="padding: 2px 6px;">닫기 </button>
            </div>-->
        </div>
    </div>
</div>



<!--
<div class="matter">
    <div class="container">

        <div class="row">

            <div class="col-md-12">




            </div>

        </div>

    </div>
</div>
-->
