<div class="modal" id="subsAlgorithm" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">변전소 상세정보</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="dl_id">
                <input type="hidden" id="dl_name">

                <div id="algorithmListDiv" >
                </div>
            </div>
        </div>
    </div>
</div>