<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>KEPRI_simulator</title>


    <!--<link href="/library/bootstrap-4.0.0-dist/css/bootstrap.css" rel="stylesheet">-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->

</head>
<body>
<div id="hs">
    <input type="text" id="callFlag" value="Login" hidden>
    <div id="mapFrame" style="height: 690px; width: 100%; float:left;">
        <div id="map" class="map" style="height: 100%; width: 100%; border:1px solid black; background-color: lightskyblue" >
        </div>
        <div id="hiddenDisplayDiv" style="display: none;">
            <div id="popup">
                <!--<a href="#" id="popup-closer" class="ol-popup-closer"></a>-->
            </div>
        </div>


        <!--<div id="popup" class="ol-popup">-->
        <!--<a href="#" id="popup-closer" class="ol-popup-closer"></a>-->
        <!--<div id="popup-content"></div>-->
        <!--</div>-->
    </div>
<!--
    <div id="optFrame" style="float:left;margin:20px;">
        <div id="location" ></div>
        <div id="scale"></div>
        &lt;!&ndash; <label>mode : </label>
         <select id="cfType">
             <option value="Point">Point</option>
             <option value="LineString">LineString</option>
             <option value="Polygon">Polygon</option>
             <option value="Circle">Circle</option>
             <option value="Text">Text</option>
             <option value="Modify">Modify</option>
             &lt;!&ndash;<option value="Select">Select</option>&ndash;&gt;
             <option value="Delete">Delete</option>
         </select><br>
         text : <input id="cfTextInput" type="text"><br>
         size : <input id="cfSizeInput" type="text" value="5"><br>
         color : <input id="cfColorInput" type="text" value="#00e5ff"><br>

         <button id="removeAll">Remove All</button><br>
         <button id="sendCfData">Send Data</button><br>&ndash;&gt;
        <button id="getViewArea">get View Extent</button><br>
        <input type="button" id="moveBtn" value="Move">
        &lt;!&ndash;<div id="info">&nbsp;</div>&ndash;&gt;
        &lt;!&ndash;<div id="nodelist">&nbsp;</div>&ndash;&gt;
    </div>-->


    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
</div>
</body>
<script>

</script>
</html>
