<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Vertor Layer Test Page</title>
</head>
<body>

<div id="map" class="map" style="width: 800px; height: 600px; border: solid;"></div>
<div id="info">&nbsp;</div>

<script src="/library/openlayers/loader.js?id=vector-layer"></script>
</body>
<script>
    // alert('in');
</script>
</html>
