<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>draw-and-modify-features Test Page</title>
</head>
<body>

<div id="map" class="map" style="width: 800px; height: 600px; border: solid;"></div>
<div id="info">&nbsp;</div>
<form class="form-inline">
    <label>Geometry type &nbsp;</label>
    <select id="type">
        <option value="Point">Point</option>
        <option value="LineString">LineString</option>
        <option value="Polygon">Polygon</option>
        <option value="Circle">Circle</option>
    </select>
</form>

<script src="/library/openlayers/loader.js?id=draw-and-modify-features"></script>
</body>
<script>
    // alert('in');
</script>
</html>
