<div class="modal" id="userJoin">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="widget-head" id="userJoinTitle"><i class="fa fa-user-plus"></i> 회원가입</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="widget-content">
                    <div class="padd">
                        <form class="form-horizontal">
                            <!-- ID -->
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="userJoinId">아이디</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="userJoinId" style="font-size: 13px;" placeholder="아이디를 입력하세요.">
                                </div>
                            </div>
                            <!-- password -->
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="userJoinPw">비밀번호</label>
                                <div class="col-lg-9">
                                    <input type="password" class="form-control" id="userJoinPw" style="font-size: 13px;" placeholder="비밀번호를 입력하세요.">
                                </div>
                            </div>
                            <!-- Username -->
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="userJoinName">이름</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="userJoinName" style="font-size: 13px;" placeholder="이름을 입력하세요.">
                                </div>
                            </div>
                            <!-- Organization -->
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="userJoinOrg">소속</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="userJoinOrg" style="font-size: 13px;" placeholder="소속을 입력하세요.">
                                </div>
                            </div>
                            <!-- Substation -->
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="userJoinSubs">근무지(변전소)</label>
                                <div class="col-lg-9">
                                    <select class="form-control" id="userJoinSubs"
                                            style='font-size: 12px; height: auto'></select>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-info" id="userJoinReqBtn"
                        style="width: 60px; height: 30px; font-size: 12px">회원가입
                </button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"
                        style="width: 60px; height: 30px; font-size: 12px">취소
                </button>
            </div>
        </div>
    </div>
</div>


<!--
           <div class="modal-body">
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-xl-1"></div>
                       <div class="col-xl-10">
                           <form>
                               <div class="form-group">
                                   <label for="userJoinId">Id</label>
                                   <input type="text" class="form-control" id="userJoinId">
                               </div>
                               <div class="form-group">
                                   <label for="userJoinPw">Password:</label>
                                   <input type="password" class="form-control" id="userJoinPw">
                               </div>
                               <div class="form-group">
                                   <label for="userJoinName">Name:</label>
                                   <input type="text" class="form-control" id="userJoinName">
                               </div>
                               <div class="form-group">
                                   <label for="userJoinOrg">Organization:</label>
                                   <input type="text" class="form-control" id="userJoinOrg">
                               </div>
                           </form>
                       </div>
                       <div class="col-xl-1"></div>
                   </div>
               </div>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-sm btn-info" id="userJoinReqBtn">Register</button>
               <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Reset</button>
           </div>
       </div>
   </div>
</div>-->